<div class="text-center mt-2">Made With Love 💝</div>

<div class="socialLinks">
    <ul class="unorderedList">
        <li><i class="fa fa-github socialMedia" aria-hidden="true"></i> <a target="_blank" href="https://www.github.com/vrushabhFasge">Github</a></li>
        <li><i class="fa fa-linkedin socialMedia" aria-hidden="true"></i> <a target="_blank" href="https://https://www.linkedin.com/in/vrushabhFasge">Linkedin</a></li>
        <li><i class="fa fa-location-arrow socialMedia" aria-hidden="true"></i> <a target="_blank" href="mailto:vrushabhfasge@gmail.com">Email</a></li>
        <li><i class="fa fa-instagram socialMedia" aria-hidden="true"></i> <a target="_blank" href="https://www.instagram.com/_dope_indian_dude_/">Instagram</a></li>
    </ul>
</div>
